message-enricher/src/main/app/message-enricher.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="message-enricherFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/enricher" doc:name="HTTP"/>
        <logger message="start flow" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <foreach doc:name="For Each">
            <enricher doc:name="Message Enricher">
                <flow-ref name="message-enricherSub_Flow" doc:name="Flow Reference"/>
                <enrich source="#[flowVars.postalcode]" target="#[payload.postalcode]"/>
                <enrich source="#[flowVars.mobileno]" target="#[payload.mobileno]"/>
            </enricher>
        </foreach>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="final result" level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="message-enricherSub_Flow">
        <set-variable variableName="postalcode" value="#[&quot;500092&quot;]" doc:name="Variable"/>
        <set-variable variableName="mobileno" value="#[&quot;9966888761&quot;]" doc:name="Variable"/>
    </sub-flow>
</mule>
